@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido {
    flex: 1; /* 🔥 empuja el footer hacia abajo */
}

.footer {
    background-color: #161616;
    color: #ccc;
    text-align: center;
    padding: 25px 15px;
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
}

.footer_titulo {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 8px;
}

.footer_links {
    margin: 15px 0;
}

.footer_links a {
    color: #9bd7ff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: 0.2s;
}

.footer_links a:hover {
    color: white;
}

.footer_copy {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}