@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: rgb(22, 22, 22);
    color: rgb(204, 204, 204);
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}